<%- include('../includes/head.ejs') %>
    <title>Login</title>
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <h1>Login</h1>
        <form action="/login" method="POST" class="login-form">
            <div>
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div>
                <button type="submit" class="btn">Login</button>
            </div>
        </form>
    </main>
    <%- include('../includes/end.ejs') %>
